h1 {
  font-size: 7rem;
  margin-bottom: 3rem;
}
.hero-section {
  margin-top: 10vh;
}
.hero-layout {
  position: relative;
  display: flex;

  justify-content: center;

  z-index: 1;
}
.hero-cards {
  position: relative;
  height: 80vh;
}
.hero-card {
  width: 25rem;
  aspect-ratio: 16/24;
  background-color: #fffefe;
  border: 1px solid #838181;
  box-shadow: 6px 6px 6px 2px #a99cf5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  backface-visibility: hidden;
}
.card2 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.card1 {
  position: absolute;
  bottom: 17rem;
  left: 18rem;
  z-index: 2;
}
