.hero-content h1 {
  font-size: 7.2rem;
  margin-bottom: 4rem;
}
.hero-section {
  margin-top: 8vh;
  z-index: 100;
}
.hero-layout {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.content-center p {
  margin-bottom: 2rem;
}
.hero-cards {
  grid-row: 1;
  grid-column: 1;

  display: flex;
  align-items: center;
}

.whatsapp-link a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;

  background-color: white;
  padding: 0.5rem 1rem;
  padding-bottom: 0.9rem;
  width: 25rem;
  border-radius: 50px;

  border: 1px solid #007185;
  text-decoration: none;
  background-color: #79e9fd;
}
.whatsapp-link img {
  transform: translateY(-8%);
  width: 4.5rem;
  margin-top: 1vh;
  display: flex;
  justify-content: space-around;
  z-index: 10;
}
.whatsapp-link p {
  display: flex;
  align-items: center;
  color: #4d29df;
  font-weight: 600;
  align-items: center;
  font-size: 2.5rem;
}
