.hero-content h1 {
  font-size: 7.2rem;
  margin-bottom: 4rem;
}
.hero-section {
  margin-top: 8vh;
}
.hero-layout {
  position: relative;
  display: flex;

  justify-content: center;

  z-index: 1;
}
.hero-cards {
  position: relative;
  height: 80vh;
}
.hero-card {
  width: 25rem;
  aspect-ratio: 16/24;
  background-color: #fffefe;
  border: 1px solid #838181;
  box-shadow: 6px 6px 6px 2px #a99cf5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  backface-visibility: hidden;
}
.card2 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.card1 {
  position: absolute;
  bottom: 17rem;
  left: 18rem;
  z-index: 2;
}
.whatsapp-link a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
  background-color: white;
  padding: 0.5rem 0.1rem;
  width: 27rem;
  border-radius: 50px;
  margin-right: 2rem;
  border: 2px solid #7b5fecb9;
  text-decoration: none;
  background-color: #d0f8ff;
}
.whatsapp-link img {
  transform: translateY(-8%);
  width: 4rem;
  margin-top: 1vh;
  display: flex;
  justify-content: space-around;
  z-index: 10;
}
.whatsapp-link p {
  /* transform: translateY(20%); */
  display: flex;
  align-items: center;
  color: #6b4ce7;
  font-weight: 600;
  align-items: center;
  font-size: 2.5rem;
}
