/*------------- ui bubbles-------------- */
.bubble {
  border-radius: 50%;
  filter: blur(55px);
  z-index: 0;
}
/*------------- ui cards-------------- */
.tarot-card {
  width: 25rem;

  aspect-ratio: 16/24;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 5px;
  transition: transform 2s ease-in-out;
}
.tarot-card:hover {
  cursor: pointer;
}
.active-card {
  /* animation: stopCard 0.5s ease-in-out; */
  transition: transform ease-in-out;
  transform: rotateY(180deg);
}
.active-card p {
  width: 25rem;
  aspect-ratio: 16/24;
  border-radius: 5px;
  padding: 1rem;
  border: solid 1px #4331b6;
  font-size: 2rem;
  font-weight: 500;
  color: #4331b6;
  text-align: center;
  line-height: 1.7;
  margin: 1rem;
}
.card-image {
  padding: 1rem;
  width: 24rem;
  aspect-ratio: 16/24;
}

.front,
.back {
  border-radius: 5px;
  position: absolute;
  width: 25rem;
  aspect-ratio: 16/24;
  background-color: #fffefe;
  border: 1px solid #838181;
  box-shadow: 6px 6px 6px 2px #b4a9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  backface-visibility: hidden;
  animation: cardRotate 2s infinite;
}
.back {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.card-rotate {
  transform-origin: center;
  animation: rotateCard 6s infinite linear;
}
/*------------- ui cards-------------- */
@keyframes rotateCard {
  0% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes stopCard {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
