* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
main {
  position: relative;
}
section {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20rem;
  padding: 0 10rem;
}
.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 35% 65%;
}
.content {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5;
  color: #533fd2;
  z-index: 10;
}
.section-headline {
  color: #4331b6;
  font-size: 7.2rem;
  margin-bottom: 12rem;
  z-index: 10;
}
.max-size {
  max-width: 1500px;
}
.center-element {
  margin-left: 50%;
  transform: translateX(-50%);
}
.max-size {
  max-width: 1500;
}
