@media (max-width: 1200px) {
  .grid {
    display: block;
    z-index: 10;
  }

  .section-headline {
    font-size: 5.5rem;
    margin-bottom: 5rem;
  }
  .content {
    font-size: 2.8rem;
    line-height: 1.3;
  }
  .hero-content h1 {
    margin-bottom: 2rem;
    font-size: 6rem;
  }
  .hero-cards {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 2rem; */
  }

  .content-center {
    text-align: center;
  }
}
@media (max-width: 850px) {
  .about-section {
    width: 100vw;
  }
  .section {
    width: 100vw;

    padding: 4vw;
  }
  .bubble {
    font-size: 50%;
  }
}
@media (max-width: 650px) {
  .hero-cards {
    margin-left: 40%;
    transform: translate(-10, -10%);
  }
  .hero-card {
    width: 17rem;
    transform: translateY(-22%);
  }
  .card2 {
    position: absolute;
    bottom: 7%;
    left: 10%;
  }
  .call p {
    display: none;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 52%;
  }
  .card2 {
    position: absolute;
    bottom: 15%;
    left: 10%;
  }
  .card1 {
    position: absolute;
    bottom: 40%;
    left: 50%;
  }
}
