@media (max-width: 1200px) {
  html {
    font-size: 58%;
  }
  section {
    padding: 0 5rem;
  }
  .grid {
    display: block;
    z-index: 100;
  }
  .hero-section {
    margin-top: 6rem;
  }
  .section-headline {
    font-size: 5.5rem;
    margin-bottom: 5rem;
  }
  .content {
    font-size: 2.8rem;
    line-height: 1.3;
  }
  .hero-content h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 6rem;
  }
  .hero-cards {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 2rem; */
  }
  .marketing-content {
    margin-top: 6rem;
  }
  .content-center {
    text-align: center;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 56%;
  }
}
@media (max-width: 850px) {
  html {
    font-size: 54%;
  }
  .about-section {
    width: 100vw;
  }

  .bubble {
    font-size: 50%;
  }
}
@media (max-width: 650px) {
  .card2 {
    position: absolute;
    bottom: 7%;
    left: 10%;
  }
  .call p {
    display: none;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }
  .card2 {
    position: absolute;
    bottom: 15%;
    left: 10%;
  }
  .section-headline {
    font-size: 4.5rem;
  }
  .card1 {
    position: absolute;
    bottom: 40%;
    left: 50%;
  }
}
